@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --sm: 0.8rem;
  --md: 1rem;
  --lg: 1.5rem;
  --xl: 2rem;
  --xxl: 2.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* --- HOMEPAGE --- */
.homepage {
  display: flex;
  flex-direction: column;
  margin: var(--md) 0;
}

.homepage__title {
  font-size: var(--xxl);
  text-transform: uppercase;
  margin: auto;
}

.homepage__pokemons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: var(--lg);
  padding: var(--md);
  margin: var(--xl) calc(var(--xl) * 4);
}

.pokemons__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  border: 1px solid white;
  border-radius: var(--sm);
  padding: var(--md);
}